################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs/crud_mvc_net/v15/Server/sqlite3/db.lock
